/* Material Picker */

.color1 {
  background-image: url('../3d/MainBody/M_2K_1_Base_color1.jpg');
}

.color2 {
  background-image: url('../3d/MainBody/M_2K_1_Base_color2.jpg');
}

.color3 {
  background-image: url('../3d/MainBody/M_2K_1_Base_color3.jpg');
}

.color4 {
  background-image: url('../3d/MainBody/M_2K_1_Base_color4.jpg');
}

.color5 {
  background-image: url('../3d/Stem/M_1K_1_Base_color1.jpg');
}

.color6 {
  background-image: url('../3d/Stem/M_1K_1_Base_color2.jpg');
}

.color7 {
  background-image: url('../3d/Stem/M_1K_1_Base_color3.jpg');
}

.color8 {
  background-image: url('../3d/Stem/M_1K_1_Base_color4.jpg');
}

.color9 {
  background-image: url('../3d/MainBody/M_2K_1_Base_color1.jpg');
}

.color10 {
  background-image: url('../3d/MainBody/M_2K_1_Base_color2.jpg');
}

.color11 {
  background-image: url('../3d/MainBody/M_2K_1_Base_color3.jpg');
}

.color12 {
  background-image: url('../3d/MainBody/M_2K_1_Base_color4.jpg');
}

.color13 {
  background-image: url('../3d/Stem/M_1K_1_Base_color1.jpg');
}

.color14 {
  background-image: url('../3d/Stem/M_1K_1_Base_color2.jpg');
}

.color15 {
  background-image: url('../3d/Stem/M_1K_1_Base_color3.jpg');
}

.color16 {
  background-image: url('../3d/Stem/M_1K_1_Base_color4.jpg');
}

.color17 {
  background-image: url('../3d/Stem/M_1K_1_Base_color1.jpg');
}

.color18 {
  background-image: url('../3d/Stem/M_1K_1_Base_color2.jpg');
}

.color19 {
  background-image: url('../3d/Stem/M_1K_1_Base_color3.jpg');
}

.color20 {
  background-image: url('../3d/Stem/M_1K_1_Base_color4.jpg');
}

.btn-outline-primary {
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 2.5rem;
  --bs-btn-active-bg: #fff;
  margin: 0 0px;
}

.color {
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 45px;
  border: 1px solid #C6C5CA;
}

.btn.btn-outline-primary {
  padding: 3px;
  border-width: 2px;
  --bs-btn-active-border-color: #919191;
}

@media (max-width: 767.98px) {
  .color {
      width: 30px;
      height: 30px;
  }

  .btn.btn-outline-primary {
      padding: 3px;
      border-width: 1px;
  }
}