@import url("../../../src/css/style.css");
@import url("../../../src/css/material.css");

.model-one {
  background-image: url("../images/model-one-bg.jpg");
}

.color1 {
  background-color: #cf152d;
}

.color2 {
  background-color: #cf15be;
}

.color3 {
  background-color: #16bdcf;
}

.color4 {
  background-color: #cf9215;
}
