@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');

html body {
    font-family: 'Poppins', sans-serif;
}

.viewer {
    height: 100vh;
}

@media (max-width: 767.98px) {
    .viewer {
        height: 70vh;
        border-bottom: 1px solid #E2E2E4 !important;
    }
}

.dashboard {
    border-left: 1px solid #E2E2E4 !important;
}

.control-title-s {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}

.control-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.product {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

/* Start Homepage */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.models {
  background-color: #cccccc;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hide {
  display: none;
}